body, html{
	height:100%;
	font-weight:bold;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	position:relative;
	overflow-x:hidden;
	overflow-y:hidden;
}

.popAlert{
    position:absolute;
    top:15px;
    right:15px;
    left:15px;
    color:white;
    border-radius:5px;
    padding:10px 15px;
}

.alert{
    color:white;
    padding:4px 7px;
    border-radius:3px;
}

.warning{
    background-color:#a43535;
}

.primary{
    background-color:rba(0,0,0,0.3);
}

body.darkTheme{
	background-color:transparent;
	margin:0;
	border-radius:5px;
	font-family:arial;
}

#controlBar{
	-webkit-app-region: drag;
	background: rgb(35,37,39);
	background: linear-gradient(90deg, rgba(29,31,32,1) 0%, rgba(35,37,39,1) 5%, rgba(29,31,32,1) 100%);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	overflow: hidden;
}

#controlBar #programIcon{
	float:left;
	width:52px;
	height:52px;
	background:url(../../assets/images/icon_1.png);
	background-size:80%;
	background-repeat:no-repeat;
	background-position:center;
}

.loading{
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-position:center;
	text-align:center;
	background-color:rgba(0,0,0,0.6);
}

.loading img{
	position:relative;
	top:-50px;
}

.popTooltip{
	position:relative;
}

.popTooltip .tip{
	font-family:arial;
	background-color:black;
	position:absolute;
	top:-20px;
	display:none;
	width:initial;
	padding:3px 6px;
	font-size:13px;
	font-weight:initial;
	border-radius:4px;
	color:white;
	z-index:888;
}

.popTooltip:hover .tip{
	display:block;
}

#controlBar #programTitle{
	float:left;
	padding:0px 2px;
	font-size:17px;
	color:rgba(255,255,255,0.9);
	height:52px;
	line-height:52px;
}

#controlBar #actions{
	position:absolute;
	right:0;
}

.darkTheme #controlBar .alertMessage{
	position:absolute;
	height:52px;
	width:600px;
	right: 104px;
	padding:0px 12px;
	top:0;
	line-height:52px;
	text-align:right;
	font-size:14px;
	color:white;
}

.darkTheme #controlBar button#exitApplication{
	-webkit-app-region: no-drag;
	border-top-right-radius: 12px;
	background: url(../../assets/images/close_btn.png);
	background-size:cover;
	width:52px;
	height:52px;
	border:0;
	position:relative;
	z-index:999;
}

.darkTheme #controlBar button#exitApplication:hover{
	background-color:#923030;
}

.darkTheme #controlBar button#minimizeApplication{
	-webkit-app-region: no-drag;
	background: url(../../assets/images/minimize_btn.png);
	background-size:cover;
	width:52px;
	height:52px;
	border:0;
	position:relative;
	z-index:999;
}

.darkTheme #controlBar button#minimizeApplication:hover{
	background-color:rgba(255,255,255,0.1);
}

#programBody{
	position:absolute;
	top:52px;
	left:0;
	right:0;
	bottom:0;
	background-color:#232527;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#bodyNavigation{
	position:absolute;
	top:9px;
	left:9px;
	bottom:9px;
	width:78px;
	background-color:#27292b;
	border-radius:5px;
}

#bodyNavigation #top button{
	position:relative;
	color:white;
	background-color:transparent;
	border:0;
	width:68px;
	height:68px;
	padding:4px;
	border-radius:3px;
	margin:5px;
	margin-bottom:0;
	z-index:99;
}

#bodyNavigation button .tooltips{
	display:none;
	position:absolute;
	color:white;
	background:rgba(0,0,0,.8);
	border-radius:5px;
	height:36px;
	line-height:36px;
	padding:0px 25px;
	font-size:14px;
	top: calc(34px - 18px);
	left: 72px;
	z-index:9999 !important;
	opacity:1 !imporant;
	text-align:left;
}

#bodyNavigation button:hover .tooltips{
	display:block;
}

#bodyNavigation #bottom{
	position:absolute;
	bottom:0;
}

#bodyNavigation #bottom button{
	position:relative;
	color:white;
	background-color:transparent;
	border:0;
	width:68px;
	height:68px;
	padding:4px;
	border-radius:3px;
	margin:5px;
	margin-top:0;
}

#bodyNavigation button:hover{
	background-color:#202123 !important;
	color:rgba(255,255,255,0.5);
}

#bodyNavigation button{
	font-size:24px;
}

#bodyNavigation button.active{
	background: rgb(228,81,210);
	background: linear-gradient(45deg, rgba(228,81,210,1) 0%, rgba(255,115,250,1) 100%);
}

#bodyNavigation button.active:hover{
	color:rgba(255,255,255,1);
	background: rgb(228,81,210) !important;
	background: linear-gradient(45deg, rgba(228,81,210,1) 0%, rgba(255,115,250,1) 100%) !important;
}

.bodyContent{
	color:white;
	position:absolute;
	left:96px;
	top:9px;
	right:9px;
	bottom:9px;
	transition:1s;
}

#userAvatar{
	overflow:hidden;
	border-radius:5px;
	position:relative;
	background-color:#1e2021;
	height:160px;
	width:160px;
	/*background:url(../../assets/images/ogimage.png);*/
	background-size:cover;
	background-position:0 -10px;
	float:left;
}

#chartContainer{
	float:left;
	margin-left:10px;
	width: calc(100% - 170px);
	position:relative;
	background-color:#1e2021;
	border-radius:5px;
	height:160px;
}

#hardwareContainer{
	border-radius:3px;
	float:left;
	margin-top:10px;
	width: calc(50% - 5px);
	position:relative;
	background-color:#1e2021;
	border-radius:5px;
	height:190px;
}

.Container{
	border-radius:3px;
	float:left;
	width: 100%;
	position:relative;
	background-color:#1e2021;
	border-radius:5px;
}

.row{
	display:block;
	width:100%;
}

#withdrawContainer input[type="text"]{
	display: inline-block;
	position:relative;
	width:100%;
	border:0;
	padding:0;
	padding-left:12px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
	height:50px;
	line-height:50px;
	outline:0;
	background-color:#1a1a1a;
	border:1px solid rgba(255,255,255,0.2);
	color:rgba(255,255,255,0.6);
	border-radius:5px;
}

.widthdrawBody{
	padding:15px;
}

.m-top-5{
	margin-top:5px;
}

.m-bottom-10{
	margin-bottom:10px;
}

#withdrawContainer button{
	display:block;
	width:100%;
	border:0;
	outline:0;
	height:50px;
	line-height:50px;
	background-color:#0074e4;
	border:1px solid rgba(255,255,255,0.2);
	color:white;
	border-radius:5px;
}

.Container.right{
	margin-right:5px;
	width: calc(100% - 5px);
}

.Container.left{
	margin-left:5px;
	width: calc(100% - 5px);
}

.Container .containerBody{
	padding:15px;
}

.Container .title{
	font-size:14px;
	padding:15px;
	padding-bottom:5px;
}

.Container .title.center{
	text-align:center;
}

.Container .number{
	text-align:center;
	font-size:18px;
	padding:15px;
	padding-top:0px;
	padding-bottom:15px;
}

.hw{
	font-size:14px;
	margin:5px 10px;
	padding:5px;
	margin-top:5px;
	position:relative;
}

.chartDesc{
	position:absolute;
	top:10px;
	left:10px;
	background-color:rgba(0,0,0,.3);
	color:white;
	padding:5px 12px;
	border-radius:3px;
	font-size:12px;
}

.hw.odd{
	background-color:rgba(255,255,255,0.05);
}

#workersContainer{
	border-radius:3px;
	float:left;
	margin-top:10px;
	margin-left:10px;
	width: calc(50% - 5px);
	position:relative;
	background-color:#1e2021;
	border-radius:5px;
	height:190px;
}

#workersContainer .title{
	font-size:14px;
	padding:15px;
}

#hardwareContainer .title{
	font-size:14px;
	padding:15px;
}

#workersContainer .title{
	font-size:14px;
	padding:15px;
}

#statsContainer{
	position:absolute;
	bottom:10px;
	left: 85px;
	background-color:#27292b;
	height:78px;
	right:0px;
}

.startButton{
	background-color:#ff73fb;
	border:0;
	color:white;
	position:absolute;
	right:15px;
	top:15px;
	font-weight:bold;
	border-radius:5px;
	padding:0px 15px;
	bottom:15px;
}

.boostButton{
	background-color:#800080;
	border:0;
	color:white;
	position:absolute;
	right:175px;
	top:15px;
	font-weight:bold;
	border-radius:5px;
	padding:0px 5x;
	bottom:15px;
}

.stat{
	margin-left:25px;
	margin-right:25px;
	float:left;
	height:78px;
}

.stat .title{
	height:39px;
	line-height:55px;
	color:white;
	font-size:15px;
}

.stat .value{
	height:39px;
	line-height:23px;
	font-size:14px;
	color:rgba(255,255,255,0.5);
}

.chartPadding{
	padding:10px;
}

.chartLabelBG{
	background-color:#1a1c1d;
	position:absolute;
	bottom:0;
	height:33px;
	left:0;
	right:0;
}

#userAvatar img{
	position:absolute;
	left:-80px;
	top:-40px;
}

#avatarName{
	background-color:#191b1b;
	position:absolute;
	height:40px;
	bottom:0;
	left:0;
	right:0;
	font-size:12px;
	line-height:40px;
	text-align:center;
}

#rbxWithdrawError{
	background-color:#af3939;
	color:white;
	border-radius:4px;
	padding:5px 12px;
	margin-bottom:5px;
	font-size:14px;
	display:none;
}

#rbxWithdrawSuccess{
	background-color:#52b227;
	color:white;
	border-radius:4px;
	padding:5px 12px;
	margin-bottom:5px;
	font-size:14px;
	display:none;
}

button {
	cursor: pointer;
	-webkit-app-region: no-drag;
} 

.clearfix:after{
	clear:both;
	display:block;
	content:" ";
}

#withdraw_frame{
	left: 1000px;
	right: -1000px;
}

#referals_frame{
	left: 1000px;
	right: -1000px;
}

#settings_frame{
	left: 1000px;
	right: -1000px;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  padding-top:30px;
  text-align:center;
}


/*-- LOGIN --*/

#loginBody{
	height: 248px;
}

#loginBody input{
	box-sizing: border-box;
	width:100%;
	display:inline-block;
	padding:12px 25px;
	background-color:#1a1a1a;
	border:1px solid rgba(255,255,255,0.3);
	color:white;
	border-radius:4px;
	outline:none;
}

#loginBody input:focus{
	background-color:#272727;
}

#loginBody button{
	box-sizing: border-box;
	width:100%;
	display:inline-block;
	padding:12px 25px;
	background-color:#0074e4;
	border:1px solid rgba(255,255,255,0.3);
	color:white;
	border-radius:4px;
	outline:none;
}

#loginBody button:hover{
	background-color:#288ae8;
}

.introText{
	color:rgba(255,255,255,0.8);
	font-size:13px;
}

.outroText{
	color:rgba(255,255,255,0.6);
	font-size:12px;
}

.m-top-10{
	margin-top:10px;
}

.m-top-15{
	margin-top:15px;
}

.m-left-10{
	margin-left:10px;
}

.history{
	width:calc(100% - 10px);	
}

#withdrawBody{
	overflow-y: auto;
	height:290px;
}

#referalsBody{
	overflow-y: auto;
	height:290px;
}

#referalsTable{
	
}

#referalsTable th{
	text-align:left;
	background-color:rgba(255,255,255,0.1);
	padding:3px 7px;
}

#referalsTable td{
	font-size:13px;
	text-align:left;
	padding:3px 7px;
}

#referalsTable tr.even td{
	background-color:rgba(255,255,255,0.05);
}

.hw button{
	border:0;
	background:transparent;
	position:absolute;
	right:3px;
	top:3px;
	bottom:3px;
	color:white;
	background-color:#;
}

.p-hz-15{
	padding-top:15px;
	padding-bottom:15px;
}

.col-50{
	width:50%;
	float:left;
}

.text-s{
	font-size:12px;
}

.text-sm{
	font-size:14px;
}

.text-sl{
	font-size:16px;
}

#mineAction{
	background-color:#529b22;
	min-width:150px;
}

#boostProfits{
	min-width:135px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a{
	color:#ee5de0;
	cursor:pointer;
	text-decoration: underline;
}

a:hover{
	opacity:0.7;
}

button{
	cursor:pointer;
}

.rank{
	position:absolute;
	right:5px;
	left:5px;
	bottom:45px;
	padding:5px;
	border-radius:5px;
	color:white;
	background-color:rgba(0,0,0,.8);
	font-size:10px;
	text-align:center;
}

#settings-container{
	overflow:scroll;
	position:absolute;
	top:10px;
	right:10px;
	left:10px;
	bottom:10px;
	background-color:rgba(0,0,0,0.1);
	border-radius:3px;
	padding:25px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: rgba(0,0,0,0.6); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius:15px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: #ff73fb; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius:50%;
}

.slider::-moz-range-thumb {
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: #ff73fb; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius:50%;
}

.crush_intesity_description{
	font-size:13px;
	padding:10px;
	color:white;
	text-align:center;
}

.fanDescription{
	font-size:13px;
	padding:10px;
	color:white;
	text-align:center;
}


.temperatureDescription{
	font-size:13px;
	padding:10px;
	color:white;
	text-align:center;
}


.cpuMiningDescription{
	font-size:13px;
	padding:10px;
	color:white;
	text-align:center;
}


.autoMineDescription{
	font-size:13px;
	padding:10px;
	color:white;
	text-align:center;
}

/* The slider itself */
.sliderFan {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: rgba(0,0,0,0.6); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius:15px;
}

/* Mouse-over effects */
.sliderFan:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sliderFan::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: #ff73fb; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius:50%;
}

.sliderFan::-moz-range-thumb {
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: #ff73fb; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius:50%;
}

.fan_intesity_description{
	font-size:13px;
	padding:10px;
	color:white;
	text-align:center;
	position:relative;
	width:20px;
}

.fanOption{
	border-radius:5px;
	overflow:hidden;
	width:120px;
	margin:0 auto;
	border:2px solid #ff73fb;
	font-size:12px;
}

.fanAuto{
	text-align:center;
	padding:5px;
	text-align:left;
	float:left;
	width:60px;
}

.fanManu{
	text-align:center;
	padding:5px;
	text-align:right;
	float:right;
	width:40px;
}

.selected{
	background-color:#ff73fb;
}

#saveSettings{
	border:0;
	background-color:rgba(255,255,255,0.2);
	color:white;
	padding:4px 9px;
	border-radius:55px;
	font-size:13px;
	font-weight:bold;
}

#saveSettings:hover{
	background-color:rgba(255,255,255,1);
	color:#1e2021;
}

#saveSettings::disabled{
	
}